## Pandas Tutorial From Kaggle  
[Kaggle Learn: Pandas](https://www.kaggle.com/learn/pandas)

In [1]:
import sqlite3
import pandas as pd
# create data frame
persons = pd.DataFrame({
    'Name': ['jferroal', 'ezirmusitua', 'autisumrize', 'jeff'],
    'Age': [22, 22, 22, 22]
})
print('shape: \n', persons.shape)
print('head 1: \n', persons.head(1))
print('sample 2: \n', persons.sample(2))
persons = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
                        'Sue': ['Pretty good.', 'Bland.']},
                       index=['Product A', 'Product B'])
print(persons)

shape:
 (4, 2)
head 1:
    Age      Name
0   22  jferroal
sample 2:
    Age         Name
0   22     jferroal
2   22  autisumrize
                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

### pd.DataFrame    
`pd.DataFrame(dict, index=list of rowlabel)`  
用法：传入 key(row label)-val(entries) dict  
可选参数: index=list of row label  
> 如果没有指定 index，默认 row label 为 range(0, row_count)  
> 如果指定 index 数量和 row count 不符，index 数量决定  

`pd.DataFrame.head(count)`  
显示头 count 行数据  

`pd.DataFrame.shape`  
显示 DataFrame 的 (row, column) 数据  

`pd.DataFrame.sample(count)`  
显示 DataFrame 中随机 count 行

In [2]:
series = pd.Series([1, 2, 3, 4, 5])
print(series)
series = pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64
2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

### pd.Series   
用法：传入一个 list   
可选参数：index（类似 DataFrame 的作用），name - 指定 Series 的名称

In [3]:
csv_demo = pd.read_csv('./demo.csv', index_col=2)  
print(csv_demo)
csv_demo = pd.read_csv('./demo.csv')  
print(csv_demo)

        Name  Age
id
0   jferroal   22
       Name  Age  id
0  jferroal   22   0

## pd.read_csv  
从 csv 文件中读取数据并转变为 DataFrame  
可以使用参数 index_col=col_index 指定哪一列为 index 指示，不指定时默认生成

In [4]:
def prepare_demo_table(conn):
    c = conn.cursor()
    c.execute('''CREATE TABLE COMPANY
       (ID INT PRIMARY KEY     NOT NULL,
       NAME           TEXT    NOT NULL,
       AGE            INT     NOT NULL,
       ADDRESS        CHAR(50),
       SALARY         REAL);''')

    c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )")

    c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )")

    c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )")

    c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )")

    conn.commit()
conn = sqlite3.connect('./demo.sqlite')
# prepare_demo_table(conn)
sqlite3_demo = pd.read_sql_query("SELECT * FROM COMPANY", conn)
print(sqlite3_demo)

   ID   NAME  AGE     ADDRESS   SALARY
0   1   Paul   32  California  20000.0
1   2  Allen   25       Texas  15000.0
2   3  Teddy   23      Norway  20000.0
3   4   Mark   25  Rich-Mond   65000.0

## pd.read_sql_query  
利用 sql connection 执行 select 语句从而获取数据库中的数据

In [5]:
excel_demo = pd.read_excel('./demo.xls')
print(excel_demo.iloc[1:5:2,])

    部门   姓名    具体任职  总分 等级  工作业绩分  任职浮动分   备注
1  NaN  丁俊波  学生会副主席  66  B    1.0    NaN  NaN
3  NaN  金晓永  学生会副主席  66  B    1.0    NaN  NaN

### pd.read_excel  
从 excel 文件中读取数据并转化为 DataFrame  
可以通过指定 `sheet_name=?` 指定读取 excel 中的那个 sheet

In [6]:
sqlite3_demo.sample(2).to_csv('./demo.out.csv')
sqlite3_demo.sample(2).to_excel('./demo.out.xls')
sqlite3_demo.sample(2).to_sql('COMPANY_NEW', conn)

ValueError: Table 'COMPANY_NEW' already exists.

### write DataFrame to file/sql  
DataFrame 对象有 to_* 方法可以将数据写入到不同的地方

## Index  
1. 类似 python dict 的操作方式，但是可以使用 . 操作符  
2. loc & iloc(both are row first, column second)    
    > pandas index 的操作范式：基于 index(iloc) 和 基于 label(loc)  

### iloc  
**the first element of the range is included and the last one excluded**  
```python  
# get all row with column 0(exclude index)  
df.iloc[from_row:to_row:step, from_col:to_col:step]
```  
### loc  
loc can index any stdlib type: strings
**the first and the last element of the range is included**

In [ ]:
print('Using iloc: \n')
print(excel_demo.iloc[:100:5, 2:6:2])
print('Using loc: \n')
print(excel_demo.loc[:101:5, '具体任职':'工作业绩分':2])
_tmp = pd.DataFrame.copy(excel_demo)
_tmp.set_index('姓名')
print(_tmp.loc['顾迪文':'戴鑫雷', :])

## Manipulating the index  
`set_index` - set specific column as DataFrame's index  
### Conditional selection  
```python  
# df.loc[condition]  
df.loc[df.col1 == <val1>]  
df.loc[(df.col1 == <val1>) & (df.col2 == <val2>)]
df.loc[(df.col1 == <val1>) | (df.col2 == <val2>)]
df.loc[df.col1.isin([<val1>, <val2>])]  
df.loc[df.col1.notnull()]  
```

In [ ]:
print(excel_demo.loc[excel_demo['等级'].isin(['A', 'B'])])

## Assigning data  
```python  
# assign all col value as everyone  
df['col'] = 'everyone'  
# assign col value from len(reviews) to 1)
df['col'] = range(len(reviews), 0, -1)
```

In [ ]:
excel_demo['任职浮动分'] = '0'
print(excel_demo)

## Summary functions  
### describe  
** only work with int value **  
`(DataFrame/Series).describe` - generates a high-level summary of the attributes of the given column  
### mean  
** only work with int value **  
`(DataFrame/Series).mean` - mean of the points allotted  
### unique  
`Series.unique` - see a list of unique values   
### value_counts  
`Series.value_counts` - see a list of unique values and how often they occur in the dataset

In [ ]:
# excel_demo.describe()
# excel_demo.mean()
# excel_demo.median()
# excel_demo.min()
# excel_demo.max()
# excel_demo.std()
# excel_demo['具体任职'].unique()
# excel_demo.value_counts()

## Maps  
a function that takes one set of values and "maps" them to another set of values  
**The difference between map & apply**  
1. map takes a Series as input, apply takes a DataFrame/Series as input    

Some common built in map function: operator(+, -, *, / ...) for basic type

In [ ]:
# excel_demo['工作业绩分'].map(lambda x: x * 10)
# excel_demo['工作业绩分'].apply(lambda x: x * 10)
# excel_demo.apply(lambda x: print(x))
# excel_demo
# tmp = excel_demo

## Grouping  

### groupby
grouping returns data in index order, not in value order
`pd.DataFrame.groupby`  
```python  
df = pd.read_csv('./demo.csv')

gbdf = df.groupby('col1')
# this will return count of each value of col1
gbdf.col1.counts()  
# this will return minimum price of each col1 group
gbdf.price.min()
# ...
```  
groupby 根据 特定的 column 将 DataFrame 中的数据聚合到一起  
> You can think of each group we generate as being a slice of our DataFrame containing only data with values that match. This DataFrame is accessible to us directly using the apply method, and we can then manipulate the data in any way we see fit  

you can also group by more than one column.
```python  
#  pick out the best wine by country and province
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.argmax()])
```  

### agg  
Run a bunch of different functions on DataFrame simultaneously

### Multi-indexes  
**A multi-index differs from a regular index in that it has multiple levels. For example**  
```python  
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
mi = _.index
type(mi)  
```  
in general the MultiIndex method you will use most often is the one for converting back to a regular index, the reset_index method: `countries_reviewed.reset_index()`

## Sorting  
### sort by values  
`pd.DataFrame.sort_values(by='colname' or ['colname1', ...], ascending=True(default)/False)`    
### sort by index  
`pd.DataFrame.sort_index(by='colname' or ['colname1', ...], ascending=True(default)/False)`

## Rename - 非原地操作  
### rename columns  
`df.rename(columns={'col1': 'ncol1'})`  
### rename rows  
`df.rename(index={0: 'firstEntry', 1: 'secondEntry'})`  
### rename axises(坐标轴)  
`df.rename_axis("rows_name", axis='rows').rename_axis("columns_name", axis='columns')`

## Combine  
### concat  
**just like list.concat**  
**useful when we have data in different DataFrame or Series objects but having the same fields (columns)**  
```python  
dfc = pd.concat([df1, df2])  
```
### join  
**like join action in SQL**  
**combine different DataFrame objects which have an index in common**  
```python
left = canadian_youtube.set_index(['title', 'trending_date'])
right = british_youtube.set_index(['title', 'trending_date'])
left.join(right, lsuffix='_CAN', rsuffix='_UK')
```

## Method Chaining
### What is Method Chaining  
Method chaining is a methodology for performing operations on a DataFrame or Series that emphasizes continuity, like following:  
```python  
(ramen['Stars']
     .replace('Unrated', None)
     .dropna()
     .astype('float64')
     .head())
```  

### Why Method Chaining  
1. it lessens the need for creating and mentally tracking temporary variables  
2. emphasizes a correctly structured interative approach to working with data, where each operation is a "next step" after the last  
3. easy to debug, comment out operations that don't work until you get to one that does, and then start stepping forward again  

### Assign  
assign method lets you create new columns or modify old ones inside of a DataFrame inline  
```python
wine.assign(
    region_1=wine.apply(lambda srs: srs.region_1 if pd.notnull(srs.region_1) else srs.province, 
                        axis='columns')
)
# do the same thing  
wine['region_1'] = wine['region_1'].apply(
    lambda srs: srs.region_1 if pd.notnull(srs.region_1) else srs.province, 
    axis='columns'
)
```  
### Pipe  
perform an operation on the entire DataFrame at once, and replaces the current DataFrame which the output of your pipe  
```python  
def name_index(df):
    df.index.name = 'review_id'
    return df

wine.pipe(name_index)
```