## Pandas Tutorial From Kaggle  
[Kaggle Learn: Pandas](https://www.kaggle.com/learn/pandas)

In [1]:
import sqlite3
import pandas as pd
# create data frame
persons = pd.DataFrame({
    'Name': ['jferroal', 'ezirmusitua', 'autisumrize', 'jeff'],
    'Age': [22, 22, 22, 22]
})
print('shape: \n', persons.shape)
print('head 1: \n', persons.head(1))
print('sample 2: \n', persons.sample(2))
persons = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
                        'Sue': ['Pretty good.', 'Bland.']},
                       index=['Product A', 'Product B'])
print(persons)

shape:
 (4, 2)
head 1:
    Age      Name
0   22  jferroal
sample 2:
    Age         Name
3   22         jeff
1   22  ezirmusitua
                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

### pd.DataFrame    
`pd.DataFrame(dict, index=list of rowlabel)`  
用法：传入 key(row label)-val(entries) dict  
可选参数: index=list of row label  
> 如果没有指定 index，默认 row label 为 range(0, row_count)  
> 如果指定 index 数量和 row count 不符，index 数量决定  

`pd.DataFrame.head(count)`  
显示头 count 行数据  

`pd.DataFrame.shape`  
显示 DataFrame 的 (row, column) 数据  

`pd.DataFrame.sample(count)`  
显示 DataFrame 中随机 count 行

In [2]:
series = pd.Series([1, 2, 3, 4, 5])
print(series)
series = pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64
2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

### pd.Series   
用法：传入一个 list   
可选参数：index（类似 DataFrame 的作用），name - 指定 Series 的名称

In [3]:
csv_demo = pd.read_csv('./demo.csv', index_col=2)  
print(csv_demo)
csv_demo = pd.read_csv('./demo.csv')  
print(csv_demo)

        Name  Age
id
0   jferroal   22
       Name  Age  id
0  jferroal   22   0

## pd.read_csv  
从 csv 文件中读取数据并转变为 DataFrame  
可以使用参数 index_col=col_index 指定哪一列为 index 指示，不指定时默认生成

In [4]:
def prepare_demo_table(conn):
    c = conn.cursor()
    c.execute('''CREATE TABLE COMPANY
       (ID INT PRIMARY KEY     NOT NULL,
       NAME           TEXT    NOT NULL,
       AGE            INT     NOT NULL,
       ADDRESS        CHAR(50),
       SALARY         REAL);''')

    c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )")

    c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )")

    c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )")

    c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )")

    conn.commit()
conn = sqlite3.connect('./demo.sqlite')
# prepare_demo_table(conn)
sqlite3_demo = pd.read_sql_query("SELECT * FROM COMPANY", conn)
print(sqlite3_demo)

   ID   NAME  AGE     ADDRESS   SALARY
0   1   Paul   32  California  20000.0
1   2  Allen   25       Texas  15000.0
2   3  Teddy   23      Norway  20000.0
3   4   Mark   25  Rich-Mond   65000.0

## pd.read_sql_query  
利用 sql connection 执行 select 语句从而获取数据库中的数据

In [5]:
excel_demo = pd.read_excel('./demo.xls')
print(excel_demo)

          部门    姓名       具体任职  总分  等级  工作业绩分  任职浮动分    备注
0        主席团   顾迪文      学生会主席  70   A    1.5    1.0   NaN
1        NaN   丁俊波     学生会副主席  66   B    1.0    NaN   NaN
2        NaN   倪聪亮     学生会副主席  66   B    1.0    NaN   NaN
3        NaN   金晓永     学生会副主席  66   B    1.0    NaN   NaN
4        NaN   吴文杰      团委副书记  70   A    1.5    1.0   NaN
5        NaN   李丽娅     团委书记助理  69   A    1.5    0.5   NaN
6        秘书处    李莉     秘书处秘书长  80   B    1.0    0.5   NaN
7        NaN    楼斌      秘书处秘书  78   B    1.0    0.5   NaN
8        NaN   宋佳伟      秘书处秘书  80   A    1.5    0.5   NaN
9        NaN   计兴月      秘书处秘书  76   B    1.0    0.5   NaN
10       NaN   茹颖波      秘书处秘书  80   C    0.5    NaN   NaN
11       NaN   曹旭颖      秘书处秘书  78   C    0.5    NaN   NaN
12       NaN   陈雯婕      秘书处秘书  80   A    1.5    NaN   NaN
13    职业发展中心   单文耀   职业发展中心部长  78   B    1.0    NaN   NaN
14       NaN    董梅  职业发展中心副部长  76   B    1.0    NaN   NaN
15       NaN   赵红阳  职业发展中心副部长  79   B    1.0    NaN   NaN
16       NaN    黄莉  职业发展中心副部长  76   B    1.0    NaN   NaN
17       NaN    周艳  职业发展中心副部长  74   B    1.0    NaN   NaN
18       NaN   金芝娣  职业发展中心副部长  71   B    1.0    NaN   NaN
19       NaN   付国鹏  职业发展中心副部长  73   B    1.0    NaN   NaN
20       事业部    董昊   事业部常务副部长  76   B    1.0    0.5   NaN
21       NaN    赵静   事业部常务副部长  73   C    0.5    0.5   NaN
22       NaN   徐燕男      事业部干事  76   A    1.5    NaN   NaN
23       NaN    杨京      事业部干事  70   C    0.5    NaN   NaN
24       NaN   林婷婷      事业部部助  76   A    1.5    NaN   NaN
25       NaN   林海欧      事业部干事  76   A    1.5    NaN   NaN
26       NaN   陈天益      事业部干事  72   B    1.0    NaN   NaN
27       NaN   王艳芳      事业部干事  70   C    0.5    NaN   NaN
28       NaN    魏佳      事业部干事  70   C    0.5    NaN   NaN
29       NaN   戴鑫雷      事业部干事  76   A    1.5    NaN   NaN
...      ...   ...        ...  ..  ..    ...    ...   ...
1081     NaN    陈超     经贸青协干事  73   B    1.0    NaN  A类社团
1082     NaN   胡淑静     经贸青协干事  84   A    1.5    NaN  A类社团
1083     NaN   吴舒淇     经贸青协干事  78   B    1.0    NaN  A类社团
1084     NaN   余庆浩     经贸青协干事  87   A    1.5    NaN  A类社团
1085     NaN   刘光轮     经贸青协干事  85   A    1.5    NaN  A类社团
1086     NaN   裴银娣     经贸青协干事  79   B    1.0    NaN  A类社团
1087     NaN    王婧     经贸青协干事  73   B    1.0    NaN  A类社团
1088     NaN    陈莹     经贸青协干事  71   B    1.0    NaN  A类社团
1089     NaN   秦敏亚     经贸青协干事  76   B    1.0    NaN  A类社团
1090     NaN   姚永兰     经贸青协干事  74   B    1.0    NaN  A类社团
1091     NaN   胡灵龙     经贸青协干事  76   B    1.0    NaN  A类社团
1092     NaN   黄于捷     经贸青协干事  77   B    1.0    NaN  A类社团
1093     NaN    吴迪    经贸三思会干事  77   B    1.0    NaN  A类社团
1094     NaN   张莉弘    经贸三思会干事  65   C    0.5    NaN  A类社团
1095     NaN   郭略辰    经贸三思会干事  78   B    1.0    NaN  A类社团
1096     NaN   陈雯婕    经贸三思会干事  86   A    1.5    NaN  A类社团
1097     NaN   周彬良    经贸三思会干事  68   C    0.5    NaN  A类社团
1098     NaN   朱旭靓    经贸三思会干事  76  B     1.0    NaN  A类社团
1099     NaN   沈毓雅    经贸三思会干事  79   B    1.0    NaN  A类社团
1100     NaN    张翀    经贸三思会干事  87   A    1.5    NaN  A类社团
1101     NaN   刘晋浩    经贸三思会干事  73   B    1.0    NaN  A类社团
1102     NaN   居海刚    经贸三思会干事  88   A    1.5    NaN  A类社团
1103     NaN   刘超峰    经贸三思会干事  75   B    1.0    NaN  A类社团
1104     NaN   夏旭挺    经贸三思会干事  77   B    1.0    NaN  A类社团
1105     NaN   吴胜佳    经贸三思会干事  74   B    1.0    NaN  A类社团
1106     NaN  卢娟娟     经贸三思会干事  79   B    1.0    NaN  A类社团
1107     NaN   王丽丹    经贸三思会干事  76   B    1.0    NaN  A类社团
1108     NaN   王晓庆    经贸三思会干事  78   B    1.0    NaN  A类社团
1109     NaN   王安平    经贸三思会干事  69   C    0.5    NaN  A类社团
1110     NaN   周子娟    经贸三思会干事  78   B    1.0    NaN  A类社团

[1111 rows x 8 columns]

### pd.read_excel  
从 excel 文件中读取数据并转化为 DataFrame  
可以通过指定 `sheet_name=?` 指定读取 excel 中的那个 sheet

In [7]:
sqlite3_demo.sample(2).to_csv('./demo.out.csv')
sqlite3_demo.sample(2).to_excel('./demo.out.xls')
sqlite3_demo.sample(2).to_sql('COMPANY_NEW', conn)

### write DataFrame to file/sql  
DataFrame 对象有 to_* 方法可以将数据写入到不同的地方